<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Rock Paper Scissors Lizard Spock</title>
    <link rel="stylesheet" href="/static/game.css"/>
</head>
<body>
    <header>
        <h1>Rock Paper Scissors Lizard Spock</h1>
    </header>

    <div class="score">
        <div id="user" class="sign">USER</div>
        <div id="player" class="sign">PLAYER</div>
        <span id="uscore">{{ x }}</span>:<span id="pscore">{{ y }}</span>
    </div>

    <div classes="choices">
        <form action="" method="post">
            <input type="radio" name="options" value="r">
            <div class="choice" id="r"><img src="static/rocks.jpg" width="50" /></div>
            <input type="radio" name="options" value="p">
            <div class="choice" id="p"><img src="static/papers.png" width="50" /></div>
            <input type="radio" name="options" value="s">
            <div class="choice" id="s"><img src="static/scissors.jpg" width="50" /></div>
            <input type="radio" name="options" value="sp">
            <div class="choice" id="sp"><img src="static/spocks.jpg" width="50" /></div>
            <input type="radio" name="options" value="l"> <div class="choice" id="l">
            <img src="static/lizards.png" width="50" /></div><br><br>
            <input type="submit" value="Submit">
        </form>
    </div>
    <p id="action">Make your move!</p>
</body>
</html>
