<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Rock Paper Scissors Lizard Spock</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
    <div>
        <img src="static/RockPaperScissorSpockLizard.png" width="100" />
        <h1>Welcome to my Rock Paper Scissors Lizard Spock site!</h1>
    </div>
    <div class="container">
        <h1>Please login</h1>
        <br>
        <form action="" method="post">
            <input type="text" placeholder="Username" name="username" value="{{request.form.username }}">
            <input type="password" placeholder="Password" name="password" value="{{request.form.password }}">
            <input class="btn btn-default" type="submit" value="Login">
        </form>
        {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}></p>
        {% endif %}
    </div>
</body>
</html>